/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('do.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do botão "Entrar" */
.entrar-btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #0d47a1; /* Azul escuro */
    background-color: #fff; /* Fundo branco */
    border: 2px solid #0d47a1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.entrar-btn:hover {
    background-color: #0d47a1;
    color: #fff;
}

/* Centralizando o botão */
.container {
    text-align: center;
}
